#page_header {
    text-align: center;
    background-color: #348d34;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white
}

* {
    box-sizing: border-box;
}

.searcharea {
    background-color: beige;
    padding: 25px;
}



.forecast {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0px;
}

#searchbtn {
    background-color: #348d34;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 2px;
}

#clearhistorybtn {
    background-color: #348d34;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 2px;

}

.card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    text-align: left;
    background-color: #4e4a4a15;
}


.column {
    float: left;
    width: 20%;
    padding: 0 2px;
}

.card-title {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: left;
    background-color: #4e4a4a15;
}